
.login-form-container {
 
    max-width: 400px;
    margin: auto;
    margin-top: 120px;
   
    padding: 20px 5px 20px 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .form-header {
    color:rgba(128, 128, 128, 0.729);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: black;
    
  }
  
  .input {
    width: 93%;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 4px;
  
  
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }  
  .login-button{
    color:white;
    background-color: rgb(9, 117, 240);
    padding: 9px 60px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    /* margin-left: 65px; */
    margin-right: 105px;
     margin-top: 14px; 
  }

  @media (max-width: 450px){
    .login-form-container {
 
      max-width: 400px;
      margin: auto;
      margin-top: 120px;
      margin-left: 30px;
      margin-right: 30px;
     
      padding: 20px 5px 20px 35px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .form-header {
      color:rgba(128, 128, 128, 0.729);
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      color: black;
      
    }
    
    .input {
      width: 93%;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    
    
    }
  
    .error-message {
      color: red;
      margin-top: 5px;
    }  
    .login-button{
      color:white;
      background-color: rgb(9, 117, 240);
      padding: 9px 70px;
      display: block;
      margin: auto;
      border: none;
      border-radius: 5px;
      /* margin-left: 65px; */
      margin-right: 45px;
       margin-top: 14px; 
    }
  
  }
  

 
  
 

