.container{
  width: 900px;
}


.signup-form-container {
   width: 400px;
 height: auto;
   /* margin: auto; */
  margin: -120px 20px 0px 20px;
  padding: 20px 25px 20px 35px;
  /* border: 1px solid red; */
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .form1-header {
    color: gray;
  }
  
  .form1-group {
    margin-bottom: 20px;
  }
  
   label {
    display: block;
    margin-bottom: 5px;
  }

  .form-check-input{
    padding: 3px;
    margin: 5px;
   border: 1px solid gray;
  }
  
 input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
  }
  
  .invalid {
    border-color: red;
  }
  .signup-button{
    color:white;
    background-color: rgb(9, 117, 240);
    padding: 9px 50px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    
    margin-right: 90px;
     margin-top: 14px; 
  }

  
  
  .error-message {
    color: red;
    margin-top: 5px;
  }  

 
  
  

  .user-type-group div{
    display: flex;
    flex-direction: start;
    
  } 

  @media  (max-width: 579px){
    .signup-form-container {
      width: 550px;
 height: auto;
   /* margin: auto; */
  margin: -120px 250px 0px 20px;
  padding: 20px 25px 50px 35px;
  /* border: 1px solid red; */
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      
      .form1-header {
        color: gray;
      }
      
      .form1-group {
        margin-bottom: 20px;
      }
      
       label {
        display: block;
        margin-bottom: 5px;
      }
      
     input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      
      }
      
      .invalid {
        border-color: red;
      }
      .signup-button{
        color:white;
        background-color: rgb(9, 117, 240);
        padding: 14px 70px;
        display: block;
        margin: auto;
        border: none;
        border-radius: 5px;
        /* margin-left: 65px; */
        margin-right: 160px;
         margin-top: 14px; 
      }
    
      
      
      .error-message {
        color: red;
        margin-top: 5px;
      }  
    
     
      
      
    
      .user-type-group div{
        display: flex;
        flex-direction: start;
        
      } 
    
  }
   